rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /patients/{docId} {
      allow read, write: if isSignedIn() && (
        (resource == null && request.resource.data.userId == request.auth.uid) ||
        (resource != null && resource.data.userId == request.auth.uid)
      );
    }
    match /doctors/{docId} {
      allow read, write: if isSignedIn() && (
        (resource == null && request.resource.data.userId == request.auth.uid) ||
        (resource != null && resource.data.userId == request.auth.uid)
      );
    }
    match /appointments/{docId} {
      allow read, write: if isSignedIn() && (
        (resource == null && request.resource.data.userId == request.auth.uid) ||
        (resource != null && resource.data.userId == request.auth.uid)
      );
    }
    match /staffs/{docId} {
      allow read, write: if isSignedIn() && (
        (resource == null && request.resource.data.userId == request.auth.uid) ||
        (resource != null && resource.data.userId == request.auth.uid)
      );
    }
    match /clinics/{docId} {
      allow read, write: if isSignedIn() && docId == request.auth.uid;
    }
    match /messages/{docId} {
      allow read, write: if isSignedIn() && (
        (resource == null && request.resource.data.userId == request.auth.uid) ||
        (resource != null && resource.data.userId == request.auth.uid)
      );
    }
    match /prescriptions/{docId} {
      allow read, write: if isSignedIn() && (
        (resource == null && request.resource.data.userId == request.auth.uid) ||
        (resource != null && resource.data.userId == request.auth.uid)
      );
    }
    match /reports/{docId} {
      allow read, write: if isSignedIn() && (
        (resource == null && request.resource.data.userId == request.auth.uid) ||
        (resource != null && resource.data.userId == request.auth.uid)
      );
    }
  }
}
